/venv
/.idea
db.sqlite3

#exclude everything
media/items/*

#exception to the rule
!/media/items/gitkeep.txt

/static/

items/__pycache__
items/migrations
locations/__pycache__
locations/migrations
orders/__pycache__
orders/migrations
warehouse/__pycache__
accounts/__pycache__
