{% extends "base.html" %}
{% block content %}
<h1>CATEGORY LIST:</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="5%">ID</th>
            <th scope="col" width="25%">Category</th>
            <th scope="col" width="40%">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for i in category %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'items_app:category-detail-view' pk=i.pk %}">{{ i.name }}</a></td>
                <td>{{ i.description }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'items_app:category-create-view' %}">ADD category</a></p>
    <a href="{% url 'items_app:items-index' %}">RETURN TO DASHBOARD</a>
{% endblock %}
