{% extends "base.html" %}
{% block content %}
{% if not user.is_authenticated %}
        <p>Hello stranger!!</p>
    {% else %}
       <p>Welcome, {{ user }} !!</p>
    {% endif %}
    <p><a href="{% url 'items_app:items-index' %}">ITEMS</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'transaction_app:transaction-list' %}">TRANSACTIONS</a></p>
    {% endif %}
    <p><a href="{% url 'locations_app:location-index' %}">LOCATIONS</a></p>
    <p><a href="{% url 'orders_app:orders-index' %}">ORDERS</a></p>
   {% endblock %}