{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
    {% if request.user.is_staff %}
        <p><a href="{% url 'items_app:items-create-view' %}">ADD ITEM</a></p>
    {% endif %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter Items</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.name.label_tag }}
          {% render_field filter.form.name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.description.label_tag }}
          {% render_field filter.form.description class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.category.label_tag }}
          {% render_field filter.form.category class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.unit.label_tag }}
          {% render_field filter.form.unit class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.producer.label_tag }}
          {% render_field filter.form.producer class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.producer_no.label_tag }}
          {% render_field filter.form.producer_no class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.supplier.label_tag }}
          {% render_field filter.form.supplier class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.supplier_no.label_tag }}
          {% render_field filter.form.supplier_no class="form-control" %}
        </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Producer</th>
        <th>Producer no</th>
        <th>Supplier</th>
        <th>Supplier no</th>
      </tr>
    </thead>
    <tbody>
      {% for item in filter.qs %}
        <tr>
          <td><a href="{% url 'items_app:items-detail-view' pk=item.pk %}">{{ item.name }}</a></td>
          <td>{{ item.description }}</td>
          <td>{% if item.category %}{{ item.category }}{% endif %}</td>
          <td>{% if item.unit %}{{ item.unit }}{% endif %}</td>
          <td>{{ item.quantity }}</td>
          <td>{% if item.producer %}{{ item.producer }}{% endif %}</td>
          <td>{{ item.producer_no }}</td>
          <td>{% if item.supplier %}{{ item.supplier }}{% endif %}</td>
          <td>{{ item.supplier_no }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}