{% extends "base.html" %}
{% block content %}
<h1>ITEMS:</h1>
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="5%">No</th>
            <th scope="col" width="15%">Name</th>
            <th scope="col" width="53%">Description</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Producer</th>
            <th scope="col" width="5%" style="text-align: center; vertical-align: middle;">Unit</th>
            <th scope="col" width="7%" style="text-align: center; vertical-align: middle;">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for o in object_list %}
            <tr>
                <th scope="row" style="vertical-align: middle;">{{ forloop.counter }}</th>
                <td style="vertical-align: middle;">
                    <a href="{% url 'items_app:items-detail-view' pk=o.pk %}">{{ o.name }}</a></td>
                <td>{{ o.description }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ o.producer }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ o.unit }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ o.quantity }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'items_app:index' %}">RETURN TO INDEX PAGE</a>
{% endblock %}
