{% extends "base.html" %}
{% block content %}
<h1>ITEMS:</h1>
    <form action="{% url 'items_app:search-result' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
    </form>
    <a href="{% url 'items_app:search-form' %}">FILTER</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="5%">No</th>
            <th scope="col" width="15%">Name</th>
            <th scope="col" width="53%">Description</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Producer</th>
            <th scope="col" width="5%" style="text-align: center; vertical-align: middle;">Unit</th>
            <th scope="col" width="7%" style="text-align: center; vertical-align: middle;">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for i in object_list %}
            <tr>
                <th scope="row" style="vertical-align: middle;">{{ forloop.counter }}</th>
                <td style="vertical-align: middle;">
                    <a href="{% url 'items_app:items-detail-view' pk=i.pk %}">{{ i.name }}</a></td>
                <td>{{ i.description }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ i.producer }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ i.unit }} </td>
                <td style="text-align: center; vertical-align: middle;">{{ i.quantity }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if request.user.is_staff %}
        <p><a href="{% url 'items_app:items-create-view' %}">ADD ITEM</a></p>
    {% endif %}
    <a href="{% url 'items_app:items-index' %}">RETURN TO INDEX PAGE</a>
{% endblock %}


