{% extends "base.html" %}
{% block content %}
<h3>ITEMS DETAILS</h3>
            <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to order
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="20%" style="vertical-align: middle;">Name</th>
            <th scope="col" width="50%" style="vertical-align: middle;">Description</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Category</th>
            <th scope="col" width="6%" style="text-align: center; vertical-align: middle;">Unit</th>
            <th scope="col" width="9%" style="text-align: center; vertical-align: middle;">Qty</th>
            <th scope="col" width="9%" style="text-align: center; vertical-align: middle;">Location</th>
        </tr>
        <tr>
            <td style="vertical-align: middle;">{{ item.name }}</td>
            <td style="vertical-align: middle;">{{ item.description }}</td>
            <td style="text-align: center; vertical-align: middle;">{% if item.category %}{{ item.category }}{% endif %}</td>
            <td style="text-align: center; vertical-align: middle;">{% if item.unit %}{{ item.unit }}{% endif %}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.quantity }}</td>
            <td style="text-align: center; vertical-align: middle;">{% if item.location %}{{ item.location }}{% endif %}</td>
        </tr>
        </thead>
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="20%" style="vertical-align: middle;">Producer</th>
            <th scope="col" width="15%" style="vertical-align: middle;">Producer no</th>
            <th scope="col" width="20%" style="text-align: center; vertical-align: middle;">Supplier</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Supplier no</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Min stock</th>
            <th scope="col" width="15%" style="text-align: center; vertical-align: middle;">Min order qty</th>
        </tr>
        <tr>
            <td>{% if item.producer %}{{ item.producer }}{% endif %}</td>
            <td>{{ item.producer_no }}</td>
            <td style="text-align: center; vertical-align: middle;">{% if item.supplier %}{{ item.supplier }}{% endif %}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.supplier_no }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.minimum_quantity }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.minimum_order }}</td>
        </tr>
        </thead>
    </table>
    <div>
        {% if item.image.url is not null %}
        <img class="picture" src="{{ item.image.url }}" alt="{{ item.name }}">
        {% endif %}
    </div>
    {% if request.user.is_staff %}
        <p><a href="{% url 'items_app:items-update-view' pk=item.pk %}">UPDATE</a></p>
        <p><a href="{% url 'items_app:items-delete-view' pk=item.pk %}">DELETE</a></p>
    {% endif %}
    <a href="{% url 'items_app:index' %}">RETURN TO DASHBOARD</a>
{% endblock %}